.jokePart {
  display: grid;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  gap: 10px;
  box-shadow: 4px 4px 4px 4px #888888;
  border-radius: 4px;
  padding-bottom: 10px;
  h2 {
    margin: auto;
  }
  button {
    cursor: pointer;
    background-color: #7371ec;
    border-radius: 4px;
    border-style: none;
    min-width: 150px;
    max-width: 200px;
    margin: auto;
    border: none;
    color: white;
    transition: all 0.1s ease-in-out;
  }
  button:active {
    transform: translateY(-3px);
    @include boxShadow(3px 3px 3px 3px $c-gray);
  }
  button:hover {
    background-color: rgb(34, 61, 171);
  }
  p {
    display: grid;
    justify-items: center;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(60px, auto);
  }
}
@media only screen and (max-width: $break-high) {
  .jokePart {
    h2 {
      font-size: pxToRem(35);
    }
    p {
      font-size: pxToRem(25);
    }
    button {
      font-size: pxToRem(25);
      min-width: 350px;
      max-width: 500px;
      padding: 5px 50px;
    }
  }
}
@media only screen and (max-width: $break-mid) {
  .jokePart {
    h2 {
      font-size: pxToRem(15);
    }
    p {
      font-size: pxToRem(12);
    }
    button {
      font-size: pxToRem(12);
      min-width: 150px;
      max-width: 500px;
      padding: 5px 50px;
    }
  }
}
